<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-lg-6">
            {{#if products}}
            {{#each products}}
            <div class="list-group">
                <span class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">
                            <span><img src="{{this.item.image}}" class="product-image" alt=""></span>
                        </div>
                        <div class="col-md-6">
                            <p class="list-group-item-heading">{{this.item.name}}</p>
                        </div>
                        <div class="col-md-3">
                            <p>quantity: {{this.quantity}}</p>
                            <p>total: {{this.price}}</p>

                            <form action="/remove" method="post">
                                <input type="hidden" name="item" value="{{this._id}}">
                                <input type="hidden" name="price" value="{{this.price}}">
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        </div>
                    </div>
                </span>
            </div>
            {{/each}}
            {{else}}
            <h1 style="text-align: center;">Your Card is Empty</h1>
            {{/if}}
        </div>

        <div class="col-md-3">
            {{!-- <form action="/payment" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_aPhMIyuDeASemhnr8SAFveJ8" data-amount="{{foundCart.total}}" data-name="Your Order"
                    data-description="All the items you ordered"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto"
                    data-currency="usd">
                    </script>
            </form> --}}
        </div>

        <div class="col-md-3">
            <div class="list-group">
                <span class="list-group-item">
                    <h4>Total: $<span class="totalPrice">{{foundCart.total}}</span></h4>

                    <div class="form-group">
                        <input type="hidden" name="" value="{{foundCart.total}}">
                        <button type="submit" class="bnt btn-primary btn-lg" data-toggle="modal"
                            data-target="#myModal">Pay with Stripe</button>
                    </div>
                </span>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        {{!-- <h4 class="modal-title" id="myModalLabel">Pay with Stripe</h4> --}}
                    </div>
                    <div class="modal-body">
                        <!-- Credit card form -->
                        <div class="container">
                            <div class="row">
                                <!-- You can make it whatever width you want. I'm making it full width
             on <= small devices and 4/12 page width on >= medium devices -->
                                <div class="col-xs-12 col-md-12">


                                    <!-- CREDIT CARD FORM STARTS HERE -->
                                    <div class="panel panel-default credit-card-box">
                                        <div class="panel-heading display-table">
                                            <div class="row display-tr">
                                                <h3 class="panel-title display-td">Payment Detaild</h3>
                                                <div class="display-td">
                                                    <img class="img-responsive pull-right"
                                                        src="http://i76.imgup.net/accepted_c22e0.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <form action="/payment" id="payment-form" method="post">


                                                <input type="hidden" name="stripeMoney" value="{{foundCart.total}}">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label for="cardNumber">CARD NUMBER</label>
                                                            <div class="input-group">
                                                                <input type="tel" class="form-control card-number" name="cardNumber"
                                                                    placeholder="Valid Card Number"
                                                                    autocomplete="cc-number" required autofocus />
                                                                <span class="input-group-addon"><i
                                                                        class="fa fa-credit-card"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-7 col-md-7">
                                                        <div class="form-group">
                                                            <label for="expMonth">EXPIRATION DATE</label>
                                                            <div class="col-xs-6 col-lg-6 pl-ziro">
                                                                <input type="text" class="form-control card-expiry-month" name="expMonth"
                                                                    placeholder="MM" required data-stripe="exp_month" />
                                                            </div>
                                                            <div class="col-xs-6 col-lg-6 pl-ziro">
                                                                <input type="text" class="form-control card-expiry-year" name="expYear"
                                                                    placeholder="YY" required data-stripe="exp_year" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-5 col-md-5 pull-right">
                                                        <div class="form-group">
                                                            <label for="cardCVC">CV CODE</label>
                                                            <input type="tel" class="form-control card-cvc" name="cardCVC"
                                                                placeholder="CVC" autocomplete="cc-csc" required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <input type="submit" class="btn btn-success btn-lg btn-block"
                                                            value="Pay ${{foundCart.total}}">
                                                    </div>
                                                </div>
                                                <div class="row" style="display:none;">
                                                    <div class="col-xs-12">
                                                        <p class="payment-errors"></p>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- CREDIT CARD FORM ENDS HERE -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-offset-6">
            <div class="text-center" id="loading"></div>
        </div>
    </div>
</div>